@model BoiteOutilsMVC.Domaine.Personne

<fieldset style="background-color:chocolate">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prenom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prenom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateNaissance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateNaissance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SuperHeros)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SuperHeros)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PointDeVie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointDeVie)
    </div>
</fieldset>

