@model BoiteOutilsMVC.Domaine.Personne

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Personne</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prenom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prenom)
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateNaissance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateNaissance)
            @Html.ValidationMessageFor(model => model.DateNaissance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SuperHeros)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SuperHeros)
            @Html.ValidationMessageFor(model => model.SuperHeros)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Blog)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Blog)
            @Html.ValidationMessageFor(model => model.Blog)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PointDeVie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PointDeVie)
            @Html.ValidationMessageFor(model => model.PointDeVie)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
